*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;

}
body{
    background: #000000;
    color: #fff;
}
#header{
    width: 100%;
    height: 55vh;
    background-image: url(imagenes/fondo-header.jpg);
    background-size: cover;
    background-position: center;
}
#header .container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: -10px ;
}
.nombre{
    font-family: 'BioRhyme', serif;
    font-size: 120px;
    color: #ffa75f;
}
.logo{
    width: 210px;
    margin: 15px 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: -45px 40px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    font-weight: 500;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ffa75f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

/*------------------------parte de las hamburguesas ---------------------------------*/

#hamburguesas{
    padding: 90px 5%;    
}
.borgers{
    font-family: 'BioRhyme', serif;
}
.row1{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 50px;
}
.row1 .b1b p{
    font-size: 13px;
}
.row2{
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 15px;
    margin-top: 50px;
}

/*--------hovers de sección de hamburguesas------------------- */
#hamburguesas .b1{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    column-gap: 20px;
    border-radius: 10px;
    transition:  transform 0.5s, background 0.6s;
}
.row1 img{
    margin-top: 10px;
    width: 240px;
}
#hamburguesas .b1:hover{
    background: #7c5230;
    transform: translateY(-10px);
}
#hamburguesas .b2{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    column-gap: 20px;
    border-radius: 10px;
    transition:  transform 0.5s, background 0.6s;
}
#hamburguesas .b2:hover{
    background: #7c5230;
    transform: translateY(-10px);
}

#hamburguesas .b3{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    column-gap: 20px;
    border-radius: 10px;
    transition:  transform 0.5s, background 0.6s;
}
#hamburguesas .b3:hover{
    background: #7c5230;
    transform: translateY(-10px);
}


/*---------------------------Parte de los acompañamientoooooos----------------------------*/
#acompañamientos{
    padding: 75px 5%;    
}
.compañia{
    font-family: 'BioRhyme', serif;
}
